<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">


	<servlet>
		<servlet-name>GetAllVilles</servlet-name>
		<servlet-class>com.servlets.GetAllVilles</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetAllVilles</servlet-name>
		<url-pattern>/villes</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetVilleByParameter</servlet-name>
		<servlet-class>com.servlets.GetVilleByParameter</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetVilleByParameter</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CompareVilles</servlet-name>
		<servlet-class>com.servlets.CompareVilles</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CompareVilles</servlet-name>
		<url-pattern>/compare</url-pattern>
	</servlet-mapping>
	<jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>

</web-app>